.news {

  ul {
    list-style: none;
    margin-right: calc(var(--full-bleed-margin) + var(--outer-margin));

    li {
      display: flex;
      flex-direction: row;
      border-top: 1px solid var(--blue);
      padding-top: var(--space);
      padding-bottom: var(--space);

      span {
        display: block;
        padding-bottom: var(--space-small);
      }

      figure {
        flex: 0 0 200px;
        mask-repeat: no-repeat;
        mask-size: contain;

        img {
          object-fit: cover;

        }
      }

      &:nth-child(odd) {
        figure {
          mask-image: url("/images/bubble-mask.svg");
        }
      }

      &:nth-child(even) {
        figure {
          mask-image: url("/images/bubble-mask-reverse.svg");
        }
      }

    }
  }
}