.container {
  display: flex;
  flex-direction: column;
  margin-left: var(--full-margin);
  margin-right: var(--full-margin);

  .header {
    display: flex;
    flex-direction: row;
    width: 100%;

    h2 {
      flex: 1 1 100%
    }

    a {
      white-space: nowrap;
    }
  }

  .news {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;

    a {
      flex: 0 0 33.3%;
    }

    @include mq($until: desktop) {
      flex-direction: column;

      a {
        flex: 0 0 100%;
      }
    }
  }
}