.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: var(--full-bleed-margin);
  margin-right: var(--full-bleed-margin);
  height: 100vh;


  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: var(--outer-margin);

    * {
      color: var(--white);
    }
  }

  .video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

}