.container {
  position: relative;
  margin-left: var(--full-bleed-margin);
  margin-right: var(--full-bleed-margin);
  height: 100vh;

  figure {
    position: relative;

    img {
      height: 100vh;
      width: 100%;
      object-fit: cover;

    }

    figcaption {
      position: absolute;
      display: flex;
      flex-direction: column;
      padding-left: calc(var(--margin) + var(--outer-margin));
      padding-right: calc(var(--margin) + var(--outer-margin));
      padding-bottom: var(--space);
      bottom: 0;
      left: 0;
      width: 100%;
      color: var(--white);
      z-index: 1;

      a {
        color: var(--white);
      }
    }
  }
}