.research {
  ul {
    list-style: none;
  }

  .list {
    li {
      margin-top: var(--space);
      padding-top: var(--space);
      border-top: 1px solid var(--blue);
      margin-right: var(--full-margin);

      h2 {
        padding-top: 1em;
      }

      @include mq($until: desktop) {
        h2,
        p {
          margin-right: var(--outer-margin);
        }
      }
    }
  }

  .empty {
    margin-top: var(--space);
  }
}
