.article {
  padding-bottom: calc(1.5 * var(--space-big));

  header {
    position: relative;

    h1 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      padding-top: 1.2em;
    }

    figure {
      margin-left: var(--full-bleed-margin);
      margin-right: var(--full-bleed-margin);
      margin-bottom: var(--space);

      img {
        height: calc(100vh - var(--navbar-height));
        width: 100%;
        object-fit: cover;
      }
    }

    &.noImage {
      h1 {
        position: relative;
      }
    }

    &.light {}
  }

  button {
    width: 100%;
  }
}