.article {
  padding-bottom: var(--space);

  header {
    position: relative;
    margin-left: var(--full-bleed-margin);
    margin-right: var(--full-bleed-margin);

    h1 {
      position: absolute;
      top: 0;
      left: 0;

      z-index: 1;
      margin-left: var(--margin);
      padding: var(--outer-margin);
    }

    figure {
      //width: 100%;

      img {
        height: 80vh;
        width: 100%;
        object-fit: cover;
      }


    }


  }

  button {
    width: 100%;
  }
}