.article {
  padding-bottom: var(--space);

  header {
    position: relative;

    h1 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    figure {
      margin-left: var(--full-bleed-margin);
      margin-right: var(--full-bleed-margin);

      img {
        height: 80vh;
        width: 100%;
        object-fit: cover;
      }
    }

    &.noImage {
      h1 {
        position: relative;
      }
    }
  }

  button {
    width: 100%;
  }
}