.page {
  position: relative;
  display: flex;
  flex-direction: column;

  @include mq($from: desktop) {
    margin-top: calc(-1 * var(--navbar-height));
  }

  .header {
    position: relative;
    margin-left: var(--full-bleed-margin);
    margin-right: var(--full-bleed-margin);

    h1 {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      line-height: 1;
      text-transform: uppercase;
      white-space: nowrap;
      text-align: center;
      font-size: 100px;

      @include mq($until: desktop) {
        font-size: 30px;
      }
    }

    .video {
      position: relative;
      height: 100vh;
      width: 100vw;
      object-fit: cover;
    }
  }
}