.page {
  position: relative;
  display: flex;
  flex-direction: column;

  .header {
    position: relative;
    width: calc(100% + calc(var(--outer-margin) * 2));
    margin-left: calc(-1 * var(--outer-margin));
    margin-right: calc(-1 * var(--outer-margin));

    h1 {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      line-height: 1;
      font-size: 100px;
      text-transform: uppercase;
      white-space: nowrap;
      text-align: center;
    }

    .video {
      position: relative;
      height: 100vh;
      width: 100%;
      object-fit: cover;
    }
  }
}