.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;

  .chip {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-image: url('/chip.png');
    background-repeat: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;

    &.visible {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
  }
}