.bubble {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1 1 auto;
  font-family: var(--label-font);
  cursor: pointer;
  padding-top: 0.5rem;

  @include mq($until: desktop) {
    display: none;
  }

  .title {
    line-height: 1;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
  }

  .wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    img {
      position: relative;
      height: 200px;
    }

    .text {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      z-index: 1;

      a {
        text-transform: uppercase;
      }
    }
  }
}

.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  backdrop-filter: blur(15px);

  .box {
    position: relative;
    width: 70%;
    height: auto;
    background-color: var(--white);
    padding: var(--outer-margin);
    color: var(--black);
    border-radius: calc(0.5 * var(--outer-margin));
    padding-right: calc(4 * var(--outer-margin));
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.342);

    strong {
      font-family: var(--label-font);
    }

    button {
      all: unset;
      position: absolute;
      top: var(--outer-margin);
      right: var(--outer-margin);
      cursor: pointer;
      font-size: 2rem;
    }
  }
}
