@use "fonts";
@use "mediaqueries";

:root {
	--black: #161616;
	--white: #FFFFE4;
	--red: #bf0000;
	--blue: #2B1E9B;
	--background: var(--white);
	--foreground: var(--black);

	--outer-margin: 1em;
	--gutter: 0.6rem;
	--grid-unit: calc(100vw / 10);
	--space: 2rem;
	--space-big: 2.5rem;
	--space-small: 1rem;

	--margin: calc(calc(2 * var(--grid-unit)) + calc(2 * var(--gutter)));
	--full-margin: calc(-1 * var(--margin));
	--full-bleed-margin: calc(calc(-1 * var(--margin)) - var(--outer-margin));

	--navbar-height: 4rem;
	--line-height: 1.35em;

	--z-navbar: 1000;
	--z-logo: 1100;
	--z-hamburger: 1200;

	--body-font: "OceanicText", Times, Serif;
	--headline-font: "BuzzBlack", Arial, Helvetica, Sans-Serif
}

body {
	width: 100%;
	font-size: 100%;
	line-height: 1em;
	color: var(--foreground);
	background-color: var(--background);
	font-family: var(--body-font);
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "liga", "kern";
}

html {
	box-sizing: border-box;
}

main {
	display: block;
	padding-left: var(--outer-margin);
	padding-right: var(--outer-margin);
}

article {
	@include mq($from: tablet) {
		margin-right: var(--margin);
		margin-left: var(--margin);
	}
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	background: var(--beige-light);
}

::-webkit-scrollbar:vertical {
	width: 10px;
}

::-webkit-scrollbar:horizontal {
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--black);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: var(--foreground);
}

article p a {
	text-decoration: underline 1px !important;
	text-underline-offset: 0.15em;
	text-decoration-thickness: 1px;

	&:hover {
		color: var(--beige-dark);
	}
}

.intro {
	margin-bottom: var(--small-space);
	margin-top: -0.2em;
}

button {
	color: var(--foreground);
	border: 0;

	@include mediaqueries.mq($from: tablet) {}

	&.back {

		@include mediaqueries.mq($from: tablet) {}
	}

}

figcaption {
	line-height: 1;

}

hr {}

input,
textarea,
select {}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: calc(100% - 1em);
	background-position-y: center;
	color: var(--black);
}

.page-error {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
	z-index: 100000;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}