@font-face {
  font-family: "BuzzBlack";
  src: url("/fonts/BuzzBlack.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OceanicText";
  src: url("/fonts/OceanicText-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}