@font-face {
  font-family: "BuzzBlack";
  src: url("/fonts/BuzzBlack.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OceanicText";
  src: url("/fonts/OceanicText-BookItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OceanicText";
  src: url("/fonts/OceanicText-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jazz";
  src: url("/fonts/JazzSN-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jazz";
  src: url("/fonts/JazzSN-BookItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Jazz";
  src: url("/fonts/JazzSN-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Jazz";
  src: url("/fonts/JazzSN-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Jazz-Medium";
  src: url("/fonts/JazzSN-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Logo";
  src: url("/fonts/JazzSN-Custom.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
