.wrapper {
  text-align: center;

  button {
    font-size: 0.9rem !important;
    margin-bottom: var(--space);
    &:hover {
      color: white !important;
    }
  }

  a {
    text-decoration: none;
  }
}
