.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: var(--space);

  li {
    display: flex;
    flex-direction: column;

    border-top: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
    padding: 1rem;
    padding-left: 0;
    cursor: pointer;

    .item {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      color: var(--blue);
      p {
        margin: 0;
      }

      .title {
        flex: 1 1 100%;
      }
    }

    .text {
      display: none;
      margin: 0 !important;

      &.open {
        display: block;
        padding-top: 0.5em;
      }
    }
  }
}
