.video {
  display: block;
  height: auto;
  margin-bottom: var(--space-small);
  margin-bottom: var(--space-big);

  .player {
    width: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .caption {
    padding-top: var(--space-small);
  }
}
